<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.oj.mapper.JudgeCaseMapper" >
  <resultMap id="BaseResultMap" type="com.coding.oj.pojo.entity.JudgeCase" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="submit_id" property="submitId" jdbcType="BIGINT" />
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <id column="pid" property="pid" jdbcType="BIGINT" />
    <result column="case_id" property="caseId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="memory" property="memory" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="group_num" property="groupNum" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="mode" property="mode" jdbcType="VARCHAR" />
    <result column="input_data" property="inputData" jdbcType="VARCHAR" />
    <result column="output_data" property="outputData" jdbcType="VARCHAR" />
    <result column="user_output" property="userOutput" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from judge_case
    where id = #{id,jdbcType=BIGINT}
      and submit_id = #{submitId,jdbcType=BIGINT}
      and uid = #{uid,jdbcType=INTEGER}
      and pid = #{pid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.coding.oj.pojo.entity.JudgeCase" >
    insert into judge_case (id, submit_id, uid,
      pid, case_id, status,
      time, memory, score,
      group_num, seq, mode,
      input_data, output_data, user_output)
    values (#{id,jdbcType=BIGINT}, #{submitId,jdbcType=BIGINT}, #{uid,jdbcType=INTEGER},
      #{pid,jdbcType=BIGINT}, #{caseId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},
      #{time,jdbcType=INTEGER}, #{memory,jdbcType=INTEGER}, #{score,jdbcType=INTEGER},
      #{groupNum,jdbcType=INTEGER}, #{seq,jdbcType=INTEGER}, #{mode,jdbcType=VARCHAR},
      #{inputData,jdbcType=VARCHAR}, #{outputData,jdbcType=VARCHAR}, #{userOutput,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.coding.oj.pojo.entity.JudgeCase" >
    update judge_case
    set case_id = #{caseId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      memory = #{memory,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      group_num = #{groupNum,jdbcType=INTEGER},
      seq = #{seq,jdbcType=INTEGER},
      mode = #{mode,jdbcType=VARCHAR},
      input_data = #{inputData,jdbcType=VARCHAR},
      output_data = #{outputData,jdbcType=VARCHAR},
      user_output = #{userOutput,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
      and submit_id = #{submitId,jdbcType=BIGINT}
      and uid = #{uid,jdbcType=INTEGER}
      and pid = #{pid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select id, submit_id, uid, pid, case_id, status, time, memory, score, group_num, 
    seq, mode, input_data, output_data, user_output, gmt_create, gmt_modified
    from judge_case
    where id = #{id,jdbcType=BIGINT}
      and submit_id = #{submitId,jdbcType=BIGINT}
      and uid = #{uid,jdbcType=INTEGER}
      and pid = #{pid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, submit_id, uid, pid, case_id, status, time, memory, score, group_num, 
    seq, mode, input_data, output_data, user_output, gmt_create, gmt_modified
    from judge_case
  </select>
  <select id="selectTestCaseBySubmitId" resultMap="BaseResultMap" >
    select *
    from judge_case
    where submit_id = #{submitId,jdbcType=BIGINT}
  </select>
</mapper>