<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.oj.mapper.StarMapper" >
  <resultMap id="BaseResultMap" type="com.coding.oj.pojo.entity.Star" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="aid" property="aid" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from star
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByAidAndUid">
    delete from star
    where aid = #{aid,jdbcType=BIGINT}
      and uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.coding.oj.pojo.entity.Star" >
    insert into star (id, aid, uid)
    values (#{id,jdbcType=BIGINT}, #{aid,jdbcType=BIGINT}, #{uid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.coding.oj.pojo.entity.Star" >
    update star
    set aid = #{aid,jdbcType=BIGINT},
      uid = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, aid, uid, gmt_create, gmt_modified
    from star
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, aid, uid, gmt_create, gmt_modified
    from star
  </select>
  <select id="selectByAidAndUid" resultType="com.coding.oj.pojo.entity.Star">
    select *
    from star
    where aid = #{aid,jdbcType=BIGINT}
      and uid = #{uid,jdbcType=INTEGER}
  </select>
</mapper>