<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.oj.mapper.JudgeCaseMapper" >
  <resultMap id="BaseResultMap" type="com.coding.oj.pojo.entity.JudgeCase" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="submit_id" property="submitId" jdbcType="BIGINT" />
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <id column="pid" property="pid" jdbcType="BIGINT" />
    <result column="case_id" property="caseId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="memory" property="memory" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="group_num" property="groupNum" jdbcType="INTEGER" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="mode" property="mode" jdbcType="VARCHAR" />
    <result column="input_data" property="inputData" jdbcType="VARCHAR" />
    <result column="output_data" property="outputData" jdbcType="VARCHAR" />
    <result column="user_output" property="userOutput" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>

</mapper>